#body{
  background-color: #F3ECDF;
}
#navcontainer{
  background-image: url("/image/friedchickenplatter.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
#navcontainer > img {
  display: block;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto
}
#menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
h1, p {
  margin-left: 10vw;
}
small {
  display: block;
  text-align: center;
}
#map{
  display: inline-block;
  margin-left: 10vw;
}
#maptext{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 10px;
  margin-left: 1vw;
}
#maptext p {
  margin: 0 auto;
}
.icon {
  height: 20px;
}
#chickenfam{
  display: block;
  margin: 0 auto;
  width: 50vw;
  height: 55vh;
}
.footer{
  margin-top: 10vh;
  background-color: #e5d5bb;
  height: 25vh;
  width: 100vw;
}
.footer p{
  text-align: center;
}
.footericon{
  height: 25px;
}
@media (max-width: 767px) {
  #navcontainer > img {
    width: 100vw;
    margin: 15vh auto;
  }
  #menu{
    margin-left: 0;
    width: 100vw;
  }
  #map{
    width: 80vw;
  }
  #maptext{
    display: block;
    margin-left: 10vw;
  }
  #chickenfam{
    width: 100vw;
  }
  .footer {
    height: 30vh;
  }
}
