#body{
  background-color: #F3ECDF;
}
#navcontainer{
  background-image: url("/image/friedchickenplatter.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
#navcontainer > img {
  display: block;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto
}
#menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.componentSize{
  height: 100vh;
}
.nav{
    /*border:1px solid #ccc;
    border-width:1px 0;*/
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
@media (max-width: 767px) {
  #navcontainer > img {
    width: 100vw;
    margin: 15vh auto;
  }
  #menu{
    margin-left: 0;
    width: 100vw;
  }
  #map{
    width: 80vw;
  }
  .componentSize{
    height: 56vh;
  }
}
